@import "../../styles/coloros";

.boostPioner {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $black;

    .big {
        font-size: 28px;
        font-weight: 900px;
    }

    h3 {
        color: $yellow;
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
    }
}

.boostPrograms {
    width: 100%;
    height: 25%;
    background-color: $black;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.boostSmall {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .color {
        width: 100%;
        height: 10%;

        &_red {
            background-color: $red;
        }

        &_blue {
            background-color: $blue;
        }
    }

    .content {
        width: 50%;
        overflow: hidden;
    }
}

.boostAbout {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;

    .about{
        width: 55%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        &_img{
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;

            .img{
                width: 100%;
                height: auto; 
            }
        }

        &_text{
            color: $black;
            width: 70%;

            b{
                color: $yellow;
            }
        }
    }
}