@font-face {
    font-family: "Mersad";
    src: url("../font/newake-demo-400.otf");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "SFP";
    src: url("../font/SFPRODISPLAYREGULAR.OTF");
    font-weight: 100;
    font-style: normal;
  }