.aboutMePage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
}

.aboutMe{
    height: 100%;
    p{
        margin: 10px 0;
    }
}