@import "../../../src/styles/coloros";

.aboutMePage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $white;
    color: $black;

    .homeLogo {
        top: 6%;
        left: 40px;
        transform: translate(0%, -50%);

        @media(max-width: 600px) {
            top: 7%;
        }
    }
}

.aboutMe {
    height: 100%;

    p {
        margin: 10px 0;
    }
}

.aboutBg {
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1000ms ease-in-out;
    background-image: url("../../images/esteguaBg.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    @media(max-width: 600px) {
        width: 100vw;
        height: 100vh;
    }

    .content_container {
        color: $black;
        background-color: $light;
        width: 100%;
        height: 75%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        overflow-y: hidden;

        @media(max-width: 600px) {
            width: 90%;
            height: 95%;
            max-height: none;
            display: block;
            gap: 20px;
            padding-top: 70px;
            overflow-y: scroll;

            .socialContainer{
                position: static;
                padding: 20px 0;
                border-top: 1px solid $dark;
                border-bottom: 1px solid $dark;
            }
        }

        .content {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow-y: auto;

            h1 {
                text-align: center;
            }

            p {
                margin: 10px 0;
            }

            @media(max-width: 600px) {
                height: auto;
                max-height: none;
                overflow-y: visible;
            }
        }

        .imgContainer {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(max-width: 600px) {
                width: 100%;
                margin-top: 20px;
            }

            .img {
                width: 90%;
                height: auto;
            }
        }
    }
}