@import "../../styles/coloros";

.boostWebinar{
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .formContainer{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            color: $blue;
            text-align: center;
        }
        
        li{
            font-size: 18px;
        }

        form{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .webinarInput{
                width: 100%;
                margin: 5px 0;
                padding: 10px;
                border-radius: 4px;
                border: none;
            }

            input{
                background-color: $white;
                font-size: 14px;
                color: $black;
            }

            button{
                background-color: $red;
                font-size: 20px;
                font-weight: 700;
                transition: 800ms;

                &:hover{
                    cursor: pointer;
                    transform: scale(0.98);
                }
            }
        }
    }
}